<div id="main">
  <p>
    <strong><%= request.domain %></strong> is a service that provides performance statistics for websites and protects users from harmful and malicious activity that can occur when sharing links on the Internet.
  </p>
</div>